.board {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    margin: 0;
    padding: 0 10px;
}

.board-column {
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));

    list-style:none;
    min-width: 200px;
    background: red;
    min-height: 200px;
    padding: 5px;
}