.page {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;

    header {
        background-color: yellow;
    }

    aside {
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: red;
    }

    main {
        background-color: green;
    }

}